{% extends "blog/base.html" %}

{% block content %}



<form action="{% url 'blog_login' %}" method="POST">
    {% csrf_token %}
    <label for="username" class="form-label">Ваш нікнейм</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Ваш нікнейм">

    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Пароль">

    <input type="submit" class="btn btn-default" value="login" >

</form>


{% endblock %}